.banner {
  padding: 220px 0 160px; /* On étire la hauteur */
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Effet parallaxe sympa */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), 
                    url('../../images/background.jpg');
  color: white;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 85px;
  line-height: 0.9;
  margin-bottom: 30px;
}

.banner h1 strong {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 500;
}

.banner p {
  font-size: 22px;
  opacity: 0.8;
  margin-bottom: 50px;
  font-weight: 300;
}

.banner-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}